html {
  background: url("https://s3-us-west-2.amazonaws.com/vivianwebprint/05.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
    background: #434343;
    width: 100%;
	height: 70px;
	position: fixed;
	border-bottom: 1px solid #434343;
	z-index: 100;
}

#name {
    display: inline-block;
    float: left;
    margin: 15px;
    font-size: 11px;
  	font-weight: 600;
  	line-height: 38px;
  	letter-spacing: .1rem;
  	text-transform: uppercase;
  	text-decoration: none;
  	color: #efefef;
}
 
nav ul {
    display: inline-block;
    float: right;
}

nav li {
    float: left;
    margin: 15px;
    text-align: center;
  	font-size: 11px;
  	font-weight: 600;
  	line-height: 38px;
  	letter-spacing: .1rem;
  	text-transform: uppercase;
  	text-decoration: none;
    list-style-type: none;
}

nav a {
	text-decoration: none;
	color: #efefef;
}
 
nav a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #ffc107;
}

nav .free {
    background: #ffc107;
    border: 1px solid #ffc107;
    border-radius: 4px;
    color: #434343;
    display: inline-block;
    height: 38px;
    padding: 0 30px;
}

nav .free:hover {
    background: #efefef;
    border: 1px solid #efefef;
    text-decoration: none;
    font-weight: bold;
    color: #434343;
}

.home {
    margin: 100px 0 180px 0;
}

.home img {
    margin: 0 0 40px 0;
    max-width: 100%;
    height: auto !important;
}

.typeform-share,.button,.button:focus {
    background: #434343;
    border: 1px solid #434343;
    color: #efefef;
}

.typeform-share,.button:hover {
    background: #ffc107;
    border: 1px solid #ffc107;
    text-decoration: none;
    font-weight: bold;
    color: #434343;
}

footer {
    background: #434343;
    width: 100%;
    color: #efefef;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #434343;
}

footer a {
	text-decoration: none;
	color: #efefef;
}

footer a:hover {
    text-decoration: none;
    font-weight: 600;
    color: #ffc107;
}